html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;


  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;

  background-color: rgb(255, 255, 255);


}

.side {

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-image: url("images/background.avif");
  background-color: #cccccc;

  /* background-size: contain; */

  width: 33%;
}

.banner {
  background-color: black;
  opacity: 0.5;
  height: 200px;
  width: auto;

  margin-top: 360px;
  
  display: flex;
}

#logo {
  height: 80%;
  width: 100%;


  margin:auto;
  
  object-fit: contain;
}

.main {
  display: flex;
  flex-direction: column;

  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: auto;
}

.top, .mid, .bot {
  height: 100%;
  
  padding: 64px;
}

.top {
  background-color: #f5f5f5;

  font-size: 28px;

  padding-top: 384px;

  padding-bottom: 32px;
}

#header {
  font-weight: 600;
}

.mid {
  background-color: white;


  padding-top: 16px;
}

#title {
  font-size: 32px;
  font-weight: bolder;
}

.info {
  display:flex;

  gap: 128px;
}

.left, .right {
  padding-top: 32px;

  display: flex;
  flex-direction: column;

  gap: 32px;

  font-size: 16px;
}

label {
  display: flex;
  font-weight: 500;
}

input {
  width: 320px;
  height: 32px;

  border-radius: 4px;
  border-style: solid;
  border-color: #E5E7EB;
}

.bot {
  display: block;

  background-color: #f5f5f5;
  padding-bottom: 384px;

  padding-top: 32px;
}

.submit {
  background-color: #f5f5f5;
  padding: 64px;

}

#create {
  background-color: #596D48;
  color: white;

  font-size: large;
  font-weight: bold;

  padding: 16px;
  padding-left: 64px;
  padding-right: 64px;

  border: 0px;
  border-radius: 8px;
  box-shadow: lightgrey 3px 3px;
}

#create:hover {
  background-color: #34402a;
  box-shadow: lightgrey 0px 0px;
}






/* Code from Stack Overflow to hide number input spin box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}